    <div id="contentDiv" class="ng-hide" >
        <div ng-repeat="(date, activities) in activityList">
            <div class="title05 indent_30x20x10">
                <h6>{{date}}</h6>
            </div>
            <div class="actvties">
                <div class="li"  ng-repeat="(key, activityItem) in activities">
                    <div class="date">{{activityItem.time_label}}</div>
                    <h5>{{activityItem.title}}</h5>
                    <article ng-bind-html="activityItem.details_app | rawHtml" >
                        <!-- {{activityItem.details_for_app}} -->
                    </article>
                </div>
            </div>
        </div>
        <div class="ng-hide notFoundMsg">
            No activities found.
        </div>
    </div>
    <div class="loaderImgDiv"  id="loaderDiv" >
        <img src="img/loader.gif" alt="Loading..">
    </div>
