<div class="contacts">
Contacts
    <ul>
        <li ng-repeat="contact in contactList">
            <button type="button" ng-click="goToContactDetails(contact.id);"><label>{{contact.name}}</label></button>
            <div>
                <span>{{contact.contacts_ranking.rank}}</span>
                <span>{{contact.contacts_status.status}}</span>
            </div>
        </li>
    </ul>
    <div>
        <button type="button" ng-click="goToCreateContact()">Add Contact</button>
    </div>
</div>