<div class="titleBar">
    <!-- <button class="srchBtn"></button><button class="filterBtn">Filter</button> -->
    <h3>Follow Updates</h3>
</div>
<div class="contactList">
    <div class="li" ng-repeat="followup in followUpList">
        <div class="listRow" ng-click="goToContactDetails(followup.contact.id);">
            <figure class="proPic">
                <img ng-if="followup.contact.photo" src="http://www.intouch.pro/uploads/thumb/{{followup.contact.photo}}">
                <img ng-if="!contact.photo" src="http://www.intouch.pro/user_template/images/userpic.png">
            </figure>
            <article>
                <h4>{{followup.contact.name}}</h4>
                <div>
                {{followup.title}}
                </div>
            </article>
        </div>
    </div>
    <div class="ng-hide notFoundMsg">
        No followups found.
    </div>
</div>
<div class="loaderImgDiv"  id="loaderDiv" >
    <img src="img/loader.gif" alt="Loading..">
</div>
