/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/*-------------------RESET-------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, hr small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
img {
    border: 0 none; max-width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
    outline:0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
}
hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}
input, select {
    vertical-align: middle;
    outline:0 none;
    padding:0;
}
input:focus, select:focus, textarea:focus {
    outline:0 none;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
/*-------------------TYPOGRAPHY-------------------*/
body, select, input, textarea { font:300 12px 'Montserrat'; }

/*-----------------ANIMATION-------------------*/
* { transition:all ease .6s ; -moz-transition:all ease .6s ; -webkit-transition:all ease .6s ; -o-transition:all ease .6s ; }
.main_banner { transition: none; -moz-transition: none; -webkit-transition: none; -o-transition: none; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:#f8f8fa;
    color: #7c8595;
    font:12px 'Montserrat', sans-serif;
    height:100%;
    margin:0px;
    width:100%;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

p		{ padding-bottom:28px; }

.indent_tb50	{ padding-top:50px; padding-bottom:50px; }
.indent_10x20	{ padding:10px 20px; }
.indent_30x20x10{ padding:30px 20px 10px; }

.center			{ text-align:center; }
/*--------------------CLEARFIX-------------------*/
.cf:before, .cf:after {
    content: "";
    display: block;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
.clear {
    clear: both;
}
.aliC	{ text-align:center; }
.fl 	{ float: left; }
.fr 	{ float: right; }

.oh			{ height:auto; overflow:hidden; }
.container	{ width:100%; margin:0 auto; position:relative; }
.icon		{ background:url(../img/icon1.png) no-repeat; }

.title05 h6		{ color:#748198; font-size:12px; font-weight:700; text-transform:uppercase; }

.splash			{ position:absolute; height:100%; width:100%; overflow:hidden; background:url(../img/mdpi/slices_r1_c23.png) no-repeat center; background-size:cover; }
.splash .logo	{ width:197px; height:204px; position:absolute; left:50%; top:50%; margin:-102px 0 0 -98px; }

.loginPage		{ color:#ffffff; background:#1054D0; }
.loginPage .bi	{ padding:72px 0 23px; width:75px; margin:0 auto; }
.title01		{ padding:23px 0 23px; text-align:center; }
.title01 h3		{ font-size:20px; font-weight:300; }
.loginPage .fieldSec		{ padding:0 36px; }
.loginPage .fieldSec .field{ padding-top:26px; }
.loginPage .fieldSec .field .input	{ background:none; border:0 none; border-bottom:1px solid #ffffff; height:38px; font-size:16px; width:94%; padding:0 3%; }

.loginPage .btnSec .signupBu	{
    width:116px; float:left; border:1px solid #ffffff; line-height:44px; height:44px; text-align:center; font-size:16px; text-transform:uppercase; border-left:0 none; color:#ffffff;
    background:none;
    border-radius:0 50px 50px 0; -moz-border-radius:0 50px 50px 0; -webkit-border-radius:0 50px 50px 0; -o-border-radius:0 50px 50px 0; -ms-border-radius:0 50px 50px 0;
}
.loginPage .btnSec .loginBu	{
    width:116px; float:right; border:1px solid #033DA6; line-height:44px; height:44px; text-align:center; font-size:20px; text-transform:uppercase; border-right:0 none;
    background:#033DA6; color:#ffffff;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}
.loginPage .link	{ color:#ffffff; font-size:14px; }

.signupPage		{ color:#44516A; background:#ffffff; }
.signupPage .fieldSec				{ padding:0 36px; }
.signupPage .fieldSec .field		{ padding-top:26px; }
.signupPage .fieldSec .field .input	{ border:0 none; border-bottom:1px solid #A5ADBB; height:38px; font-size:18px; width:94%; padding:0 3%; }

.signupPage .btnSec .loginBu	{
    width:116px; float:left; border:1px solid #CACAD9; line-height:44px; height:44px; text-align:center; font-size:16px; text-transform:uppercase; border-left:0 none;
    color:#CACAD9; font-weight:300; background:none;
    border-radius:0 50px 50px 0; -moz-border-radius:0 50px 50px 0; -webkit-border-radius:0 50px 50px 0; -o-border-radius:0 50px 50px 0; -ms-border-radius:0 50px 50px 0;
}
.signupPage .btnSec .signupBu	{
    width:116px; float:right; border:1px solid #FFD249; line-height:44px; height:44px; text-align:center; font-size:20px; text-transform:uppercase; border-right:0 none;
    background:#FFD249; color:#ffffff; font-weight:600;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}

.profileHeader	{ background:#22262D; height:160px; position:relative; }
.profileHeader .picture	{ padding-top:13px; }
.profileHeader .picture figure	{
    width:69px; height:69px; overflow:hidden;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.profileHeader .name	{ padding:8px 0; color:#ffffff; font-size:18px; margin-bottom:8px; border-bottom:1px solid #FFFFFF; text-transform:uppercase; font-weight:300; }
.profileHeader .desig	{ color:#A3AAB7; font-size:12px; }
.profileHeader .asideButns	{ position:absolute; right:0; top:0; padding-top:20px; }
.profileHeader .asideButns .btn	{
    height:28px; margin-top:2px; float:right; clear:right; border:1px solid #919396; border-right:0 none; font-size:10px; line-height:28px; text-transform:uppercase;
    color:#919396; padding:0 15px;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}
.primeNav			{ overflow-x:scroll; }
.primeNav .nav		{ width:166.66%; background:#F4FBF9; }
.primeNav .nav a	{ display:block; float:left; width:20%; height:60px; border-bottom:2px solid #CFD4D8; background-position:center 0; background-repeat:no-repeat; }
.primeNav .nav a.activ	{ border-color:#FFD249; }
.primeNav .nav a.notific	{ background-image:url(../img/mdpi/slices_r34_c49.png); }
.primeNav .nav a.contact	{ background-image:url(../img/mdpi/slices_r34_c67.png); }
.primeNav .nav a.follow		{ background-image:url(../img/mdpi/slices_r34_c72.png); }
.primeNav .nav a.status		{ background-image:url(../img/mdpi/slices_r34_c93.png); }
.primeNav .nav a.ranking	{ background-image:url(../img/mdpi/slices_r34_c95.png); }
.primeNav .nav a.notific.activ		{ background-image:url(../img/mdpi/slices_r39_c49.png); }
.primeNav .nav a.contact.activ		{ background-image:url(../img/mdpi/slices_r39_c67.png); }
.primeNav .nav a.follow.activ		{ background-image:url(../img/mdpi/slices_r39_c72.png); }
.primeNav .nav a.status.activ		{ background-image:url(../img/mdpi/slices_r39_c93.png); }
.primeNav .nav a.ranking.activ		{ background-image:url(../img/mdpi/slices_r39_c95.png); }

.actvties .li	{ padding:10px 20px; }
.actvties .li:nth-child(2n-1){ background:#DEE2EB; }
.actvties .li .date	{ color:#262E40; font-size:10px; font-weight:700; }
.actvties .li h5	{ color:#0F53CF; font-size:16px; font-weight:600; padding:5px 0 7px; }
.actvties .li article	{ font-size:13px; font-weight:200; color:#21252C; }

.actvties .li .editEvnt	{
    position:absolute; right:0; top:10px; background:#CACAD9; height:27px; width:21px; background:url(../img/mdpi/editBu02_mdpi.png) no-repeat center;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}
.actvties .li .rem		{ margin-top:8px; color:#6B7280; font-size:13px; padding-left:22px; background:url(../img/mdpi/slices_r135_c98.png) no-repeat 0 center; }


.titleBar		{ height:56px; border-bottom:1px solid #ECECFB; }
.titleBar .srchBtn	{
    float:left; height:42px; width:56px; background:#F2F4F8; border:0 none;
    border-radius:0 50px 50px 0; -moz-border-radius:0 50px 50px 0; -webkit-border-radius:0 50px 50px 0; -o-border-radius:0 50px 50px 0; -ms-border-radius:0 50px 50px 0;
}
.titleBar .filterBtn	{
    float:right; line-height:27px; font-size:13px; color:#B9B9C8; height:27px; background:#ffffff; border:1px solid #DBDBEA; border-right:0 none;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}
.titleBar h3			{ font-size:20px; font-weight:300; color:#B3BBCA; text-align:center; line-height:56px; }
.buttonBar				{ padding:10px 0; }
.addNewBtn				{
    background:#51B973; font-size:20px; display:block; padding:0 20px; color:#ffffff; height:42px; margin:0 auto; max-width:60%; line-height:42px; text-align:center; font-weight:300;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.contactList			{}
.contactList .li		{ position:relative; }
.contactList .li:nth-child(2n-1) .listRow{ background:#DEE2EB; }
.contactList .li .listRow	{ padding:10px 20px; position:relative; overflow:hidden; }

.contactList .li .listRow .proPic	{ width:45px; height:45px; float:left; overflow:hidden;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.contactList .li .listRow article	{ padding-left:57px; }
.contactList .li .listRow article h4	{ color:#20252D; font-size:15px; text-transform:uppercase; padding:4px 0; }

.contactList .li .listRow article .contactProp .props	{ float:left; padding-left:24px; font-size:13px; color:#1F252C; padding-right:16px; min-width:40px; }
.contactList .li .listRow article .contactProp .props.status	{ background:url(../img/mdpi/slices_r152_c97.png) no-repeat 0 center; }
.contactList .li .listRow article .contactProp .props.ranking{ background:url(../img/mdpi/slices_r158_c97.png) no-repeat 0 center; }
.contactList .li .listRow .propName	{ padding:10px 38px 10px 30px; background:url(../img/mdpi/slices_r65_c96.png) no-repeat 0 center; }
.contactList .li .listRow .propName.status	{ background:url(../img/mdpi/slices_r65_c96.png) no-repeat 0 center; }
.contactList .li .listRow .propName.ranking	{ background:url(../img/mdpi/slices_r67_c96.png) no-repeat 0 center; }
.contactList .li .listRow .edit		{ display:block; text-indent:-9999px; width:38px; height:40px; background:url(../img/mdpi/slices_r69_c97.png) no-repeat center; float:right; }

.backBuWhite						{ float:left; width:45px; height:47px; border-right:1px solid #ffffff; background:url(../img/mdpi/backbuwhite.png) no-repeat center; }
.backBuYelw							{ float:left; width:45px; height:47px; border-right:1px solid #FFD249; background:url(../img/mdpi/backbu.png) no-repeat center; }
.contactDetail .head				{ height:47px; position:relative; }
.contactDetail .head .title03		{ padding:15px; margin-left:46px; }
.contactDetail .head .title03 h3	{ color:#ffffff; font-size:16px; font-weight:300; }
.contactDetail .profileTop			{ background:#262E40; }
.contactDetail .profileTop .profPic	{
    width:69px; height:69px; float:right; overflow:hidden; margin:0 20px; background:url(../img/mdpi/slices_r137_c14.png) no-repeat center #DBDBEA;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.contactDetail .profileTop .indent	{ padding:0 23px 23px; }
.contactDetail .profileTop .btn		{
    display:block; border:1px solid #ffffff; height:28px; font-size:11px; line-height:28px; text-transform:uppercase; text-align:center; margin:15px 5px; float:right;
    padding:0 20px; color:#ffffff;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}

.contactDetail .profilePic          { position:relative; height:202px; overflow:hidden; }
.contactDetail .profilePic img      { width:100%; }
.contactDetail .profilePic .overlay		{ position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,102,0.55); }
.contactDetail .profilePic .profHead	{ position:absolute; bottom:0; left:0; width:100%; }
.contactDetail .profilePic .profHead .indent	{ padding:0 18px; }
.contactDetail .profilePic .profHead .online	{ float:left; }
.contactDetail .profilePic .profHead .name		{ margin-left:32px; color:#ffffff; font-size:20px; font-weight:300; }
.contactDetail .profilePic .profHead .name strong	{font-weight:600; display:block; }
.contactDetail .profilePic .profHead .btnSec	{ padding:20px 0; }
.contactDetail .profilePic .profHead .btnSec .half	{ width:50%; float:left; }
.contactDetail .profilePic .profHead .btnSec .btn	{ margin-top:10px;
    display:block; border:1px solid #ffffff; height:28px; font-size:11px; line-height:28px; text-transform:uppercase; text-align:center; margin:0 5px; color:#ffffff;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.contactDetail .profilePic .profHead .btnSec .props	{ margin-left:8px; position:relative; padding:3px 0 3px 25px; font-size:14px; color:#ffffff; margin-bottom:5px; }
.contactDetail .profilePic .profHead .btnSec .props.status	{ background:url(../img/mdpi/slices_r206_c97.png) no-repeat 0 center; }
.contactDetail .profilePic .profHead .btnSec .props.ranking	{ background:url(../img/mdpi/slices_r210_c97.png) no-repeat 0 center; }
.contactDetail .profilePic .profHead .btnSec .props .edit	{ position:absolute; width:15px; height:100%; right:0; top:0; background:url(../img/mdpi/slices_r204_c97.png) no-repeat center; }
.contactDetail .profileInfo	{ background:#FFBF00; }
.contactDetail .profileInfo .indent	{ padding:18px 45px; }
.contactDetail .profileInfo .li			{ padding-bottom:12px; overflow:hidden; }
.contactDetail .profileInfo .li .text	{ font-size:12px; color:#06053D; margin-left:40px; }
.contactDetail .profileInfo .li .icon	{ width:18px; text-align:center; float:left; }
.contactDetail .related	{ padding:6px 0; overflow:hidden; background:#FFD249; }
.contactDetail .related .label	{ float:left; padding:0 24px; line-height:25px; color:#151147; font-size:11px; width:95px; }
.contactDetail .related .pic	{
    width:25px; height:25px; margin-right:2px; overflow:hidden; float:left;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.contactDetail .related .more	{
    width:25px; height:25px; margin-right:2px; overflow:hidden; background:#85B200; color:#ffffff; line-height:25px; text-align:center; font-size:11px; float:left;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}

.whiteForm		{ background:#ffffff; }
.whiteForm .title02	{ border-bottom:1px solid #DBDBEA; color:#001F3F; }
.whiteForm .title02 h6		{ margin-left:20px; font-weight:300; padding:5px 0;}
.whiteForm .title02 .icon	{ width:12px; height:12px; float:left; }
.whiteForm .indent	{ padding:14px 30px 0; }
.whiteForm .label	{ color:#404051; font-size:15px; padding:4px 0; }
.whiteForm .field		{
    height:31px; padding:0 8px 0 23px; border:1px solid #B9B9C8;
    border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px;
}
.whiteForm .field .input	{ border:0 none; width:100%; height:31px; }
.whiteForm .field.cname	{ background:url(../img/mdpi/slices_r131_c98.png) no-repeat 8px center; }
.whiteForm .field.email	{ background:url(../img/mdpi/slices_r139_c97.png) no-repeat 8px center; }
.whiteForm .field.loc	{ background:url(../img/mdpi/slices_r148_c98.png) no-repeat 8px center; }
.whiteForm .field.dob	{ background:url(../img/mdpi/slices_r144_c97.png) no-repeat 8px center; }
.whiteForm .field.stts	{ background:url(../img/mdpi/slices_r115_c98.png) no-repeat 8px center; }
.whiteForm .field.rnk	{ background:url(../img/mdpi/slices_r119_c98.png) no-repeat 8px center; }
.whiteForm .field.pwd	{ background:url(../img/mdpi/slices_r172_c97.png) no-repeat 8px center; }

.headbar	{ background:#424251; height:30px; margin-top:20px; }
.headbar h5	{ font-size:15px; text-transform:uppercase; color:#ffffff; padding:0 30px; line-height:30px; }
.headbar .add   { position:relative; float:right; width:30px; height:30px; background:url(../img/mdpi/add.png) no-repeat center #FFFF00; }
.headbar .remove   { position:relative; float:right; width:30px; height:30px; background:url(../img/mdpi/remove.png) no-repeat center #FFFF00; }


.subAddForm		{ padding:15px 30px 15px 20px; }
.subAddForm .picture	{
    float:left; width:81px; height:81px; background:url(../img/mdpi/slices_r137_c14.png) no-repeat center #DBDBEA;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}
.subAddForm .form		{ margin-left:100px; }
.subAddForm .form .field		{ height:29px; padding:0 15px; margin:5px 0;
}
.subAddForm .form .field .input	{ height:29px; background:#ffffff; border:0 none; width:100%; }
.subAddForm .form .btn 		{
    display:block; border:1px solid #ffffff; height:28px; font-size:11px; line-height:28px; text-transform:uppercase; text-align:center;
    padding:0 20px;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px; -o-border-radius:50px; -ms-border-radius:50px;
}

.whiteForm .btnSec		{ padding:35px 0; overflow:hidden; }
.whiteForm .btnSec .saveBu	{
    background:#1054D0;
    width:116px; float:left; border:1px solid #1054D0; line-height:44px; height:44px; text-align:center; font-size:18px; text-transform:uppercase; border-left:0 none; color:#ffffff;
    border-radius:0 50px 50px 0; -moz-border-radius:0 50px 50px 0; -webkit-border-radius:0 50px 50px 0; -o-border-radius:0 50px 50px 0; -ms-border-radius:0 50px 50px 0;
}
.whiteForm .btnSec .cancelBu	{
    width:116px; float:right; border:1px solid #CACAD9; line-height:44px; height:44px; text-align:center; font-size:20px; border-right:0 none;
    color:#CACAD9; background:none;
    border-radius:50px 0 0 50px; -moz-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; -o-border-radius:50px 0 0 50px; -ms-border-radius:50px 0 0 50px;
}

.whiteForm .field .input{
    background-color: #ffffff;
}
.errorMsg{
    color : red;
    padding-top : 5px;
}
.errorMsgYellow{
    color : #ff9900;
    padding-top : 5px;
}
.successMsg{
    color : green;
    font-weight: bold;
    padding-top : 5px;
}


/*=========POPUP=============*/
.popupOverlay    { z-index:100; position:fixed; height:100%; width:100%; background:#000; opacity:0.7; left:0; top:0; }
.smlPopup   { z-index:101; position:absolute;  width:100%; top:20%;  }

.popwhite   {
    background:#ffffff; border:1px solid #e1e5ed;
    box-shadow:0px 0px 15px rgba(0,0,0,0.15); -moz-box-shadow:0px 0px 15px rgba(0,0,0,0.15); -webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.15);
    -o-box-shadow:0px 0px 15px rgba(0,0,0,0.15); -ms-box-shadow:0px 0px 15px rgba(0,0,0,0.15);
}
.popwhite .hdr      { border-bottom:1px solid #ebeef4; }
.popwhite .indent01 { padding:23px 50px;}
.popwhite .title    { padding:8px 0; }
.popwhite .title h3 { color:#2f363f; font-size:12px; text-transform:uppercase; }
.popwhite .close    { width:42px; height:42px; background:url(../img/mdpi/popup_close.png) no-repeat center; position:absolute; right:20px; top:20px; opacity:0.6; }
.popwhite .close:hover  { opacity:0.9; }
.form02 {}
.form02 .half   { width:50%; float:left; }
.form02 .field  { height:34px; border:1px solid #d6dae1; padding:0 13px; margin:9px 6px 0; }
.form02 .field .input   { height:34px; width:100%; border:0 none; } 
.btnsec02           { padding-bottom:24px; } 
.btnsec02 .bluebtn  {
    height:40px; padding:0 35px 0 28px; background:#ffa60c; color:#ffffff; font:12px/40px 'montserratregular'; text-transform:uppercase; float:left; border:0 none; cursor:pointer;
    border-radius:0 100px 100px 0; -moz-border-radius:0 100px 100px 0; -webkit-border-radius:0 100px 100px 0; -o-border-radius:0 100px 100px 0; -ms-border-radius:0 100px 100px 0;
}
.btnsec02 .bluebtn:hover    { background:#ffb637; }
.btnsec02 .cancel   { background:none; color:#434853; font:12px/40px 'montserratregular'; margin-left: 40px; float:left; border:0 none; cursor:pointer; }
.btnsec02 .cancel:hover     { color:#07090c; }
